body,html{background:#ededed}

.all{position: absolute;top:30%;left:50%;transform: translateX(-50%);}

.all h1{text-align: center;font-weight:900;font-size: 20px;margin-bottom: 30px;}

.search_area{text-align: center;position: relative;margin: auto;width:210px}

.search_area > input{border:3px solid #3d484e;width:210px;height:36px;outline: 0px none;padding:0 10px;margin-bottom: 10%;box-sizing: border-box;}

.search_area > button{width:16px;height:16px;background:url(./images/search_ico.png) no-repeat;text-indent: -9999px;border: 0px none;position: absolute;top:10px;right:10px;outline: 0px none;cursor: pointer;}

.all p{margin:auto;width:30%;}

.all > p > img{width:100%}

.all > p > button{display: none;}